* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

:root {
  /* SPACING */
  --spacing-1x: 8px;
  --spacing-2x: 16px;
  --spacing-3x: 24px;
  --spacing-4x: 32px;
  --spacing-5x: 48px;
  --spacing-6x: 64px;
  --spacing-7x: 96px;
  --spacing-8x: 128px;

  /* FONT */
  --font-size-1_00x: 1rem;
  --font-size-1_25x: 1.25rem;
  --font-size-1_50x: 1.5rem;
  --font-size-2_00x: 2rem;
  --font-size-3_00x: 3rem;

  /* LINE HEIGHT */
  --line-height-1_00x: 1;
  --line-height-1_20x: 1.2;
  --line-height-1_50x: 1.5;
  --line-height-2_00x: 2;
  --line-height-3_00x: 3;

  /* COLOR PALETTE */
  --grayscale-black: hsl(0deg, 0%, 0%);
  --grayscale-darkest: hsl(0deg, 0%, 10%);
  --grayscale-dark: hsl(0deg, 0%, 30%);
  --grayscale-medium: hsl(0deg, 0%, 40%);
  --grayscale-light: hsl(0deg, 0%, 60%);
  --grayscale-white: hsl(0deg, 0%, 100%);
  --color-green: hsl(160deg, 100%, 30%);
  --color-gold-light: hsl(45deg, 100%, 50%);
  --color-gold-dark: hsl(45deg, 100%, 40%);
}

.max-width-wrapper {
  max-width: 800px;
  margin-inline: auto;
}

.intro-chunk {
  max-width: 450px;
  margin-block-start: var(--spacing-7x);
  margin-block-end: var(--spacing-6x);
  padding-inline: var(--spacing-3x);
}

.title {
  margin-block-end: var(--spacing-5x);
}

h1 {
  margin: 0;
  font-size: var(--font-size-2_00x);
  line-height: var(--line-height-1_20x);
}

p {
  font-size: var(--font-size-1_25x);
  line-height: var(--line-height-1_50x);
  margin: 0;
  margin-block-end: var(--font-size-1_00x);
}

p:last-child {
  margin: 0;
}

strong {
  color: var(--color-green);
}

main {
  border-block-start: var(--spacing-1x) solid var(--grayscale-light);
  background-color: var(--grayscale-medium);
  padding: var(--spacing-5x) 0;
}

.card {
  padding: var(--spacing-3x);
  background-color: var(--grayscale-white);
  border-block-end: var(--spacing-1x) solid var(--grayscale-light);
}

.indented-heading {
  width: fit-content;
  font-size: var(--font-size-1_50x);
  line-height: var(--line-height-1_20x);
  
  margin-block-start: calc(var(--spacing-2x) * -1);
  margin-inline-end: 0;
  margin-block-end: var(--font-size-1_00x);
  margin-inline-start: calc(var(--spacing-4x) * -1);
  
  
  padding: var(--spacing-2x) var(--spacing-4x);
  background-color: var(--color-gold-light);
  border-block-end: var(--spacing-1x) solid var(--color-gold-dark);
}